/* Webfont: PixelSpace-Regular */@font-face {
    font-family: 'PixelSpace';
    src: url('DS November 3.woff2') format('woff2'), /* Modern Browsers */
         url('DS November 3.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

